/* ========================
   Main defenitions 
   ======================== */

body {
  font-family: "PT Sans", Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  font-style: normal;
  text-transform: uppercase;
}

/* ========================
   Menu and logo 
   ======================== */

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu-main {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
}

.menu-main li {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}

.menu-main li a {
  display: block;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.menu-main li:nth-child(1) {
  box-sizing: border-box;
  margin-left: 0px;
  text-align: left;
  width: 20%;
}

.menu-main li:nth-child(2) {
  box-sizing: border-box;
  text-align: left;
  width: 20%;
}

.menu-main li:nth-child(3) {
  box-sizing: border-box;
  margin-left: 100px;
  text-align: right;
  width: 20%;
}

.menu-main li:nth-child(4) {
  box-sizing: border-box;
  text-align: right;
  width: 20%;
}

.menu-main a:hover {
  color: #81b3d2;
}

.menu-main a:active {
  color: #cacaca;
}

.menu-main a.selected {
  color: #766357;
}

.menu-main a.selected:hover {
  color: #766357;
  cursor: default;
}

/* ========================
   Main welcoming image
   ======================== */

.welcome-image {
  background: #dae8f1 url("../img/bg_index.jpg") no-repeat;
  background-size: auto;
  position: relative;
  min-height: 508px;
}

.welcome-image img {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-image-extra {
  background: url("../img/decor.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 451px;
  width: 100%;
  min-height: 57px;
}

.welcome-slogan {
  box-sizing: border-box;
  padding-top: 62px;
  padding-bottom: 55px;
  background-color: #fff;
  text-align: center;
}

.welcome-slogan h2 {
  margin: 0;
  padding: 0 30%;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.welcome-slogan p {
  margin-top: 28px;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

/* ========================
   Reason 1 + 2  - Настоящий городок + картинка/ Там есть мост дьявола
   ======================== */

.reason {
  display: flex;
  width: inherit;
  min-height: 255px;
}

.reason-info {
  box-sizing: border-box;
  padding-top: 47px;
  padding-bottom: 60px;
  flex-basis: 400px;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}

.reason-info p {
  margin: 0;
  margin-top: 21px;
  padding: 0 49px;
  font-size: 14px;
  white-space: pre-line;
  line-height: 21px;
}

.reason-info p.reason-info-title {
  margin-top: 0;
  padding: 0 30%;
  white-space: pre-line;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.reason-info-image1 {
  background:#81b3d2 url("../img/image1.jpg") 0 -80px no-repeat;
  background-size: auto;
  flex-basis: 800px;
}

.reason-info-image2 {
  background:#81b3d2 url("../img/image2.jpg") 0 -80px no-repeat;
  background-size: auto;
  flex-basis: 800px;
}
/* ========================
   Extra reasons on top of Reason1 
   ======================== */

.extra-reason1 {
  display: flex;
  min-height: 330px;
}

.extra-reason1-info {
  position: relative;
  padding-top: 162px;
  padding-bottom: 82px;
  flex-basis: 400px;
  background-color: #fff;
  text-align: center;
}

.extra-reason1-info img {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
}

.extra-reason1-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.extra-reason1-info p.extra-reason1-title {
  text-align: center;
  margin-bottom: 20px;
  line-height: 21px;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.extra-reason1-info p.extra-reason1-text {
  padding: 0px 55px;
  line-height: 21px;
}

/* ========================
   Extra reasons after Reason 2
   ======================== */

.extra-reason2 {
  display: flex;
  min-height: 255px;
}

.extra-reason2-info {
  box-sizing: border-box;
  flex-basis: 400px;  
  background-color: #eee;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 60px;
  text-align: center;
}

.extra-reason2 p {
  margin: 0;
  margin-top: 22px;
  padding: 0 65px;
  font-size: 14px;
  white-space: pre-line;
  line-height: 21px;
}

p.extra-reason2-title {
  margin-top: 0;
  padding: 0 35%;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ========================
   INTERESTED section
   ======================== */


.interested {
  box-sizing: border-box;
  position: relative;
  min-height: 290px;
  color: #000;
  background-color: #fff; 
  text-align: center;
  padding-top: 58px;
  padding-bottom: 133px;
}

p.interested-question {
  margin: 0;
  padding-bottom: 20px; 
  font-size: 30px;
  font-weight: 600;
}

p.interested-dates {
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.title-form a {
  position: absolute;
  padding: 31px 140px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #766357;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
}
/* ========================
   FORM
   ======================== */

.search-form-show {
  display: block;
}

.search-form {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  z-index: 1;
  font-family: inherit;
  font-size: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0,0,0, 0.15);
}

.line-checkin label,
.line-checkout label {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 112px;
  height: 36px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
}

.line-checkin input[type="text"],
.line-checkout input[type="text"] {
  background: url(../img/calendar.png) 98% % no-repeat;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 346px;
  height: 36px;
  padding: 12px 0;
  padding-left: 10px;
  margin-bottom: 30px;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
} 

input[type="text"] + .calendar {
  position: relative;
  width: 50px;
  height: 50px;
}

input[type="text"] + .calendar::after{
  content: "";
  position: absolute;
  background: url(../img/calendar.png) 0 0 no-repeat;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

input[type="text"] + .calendar:hover::after {
  background-position: 0 -40px;
  cursor: pointer;
}

input[type="text"] + .calendar:active::after {
  background-position: 0 -78px;
  cursor: pointer;
}

.parents, 
.children {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 112px;
  height: 36px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
}
 
.children {
  width: 118px;
  padding: 12px 27px 12px 53px; 
}

.counter-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 114px;
  height: 35px;
  padding: 12px 55px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: #f2f2f2;
}

.counter-minus {
  position: absolute;
  vertical-align: top;
  top: 22px;
  left: 14px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.counter-plus {
  position: absolute;
  vertical-align: top;
  top: 22px;
  right: 14px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.counter-minus:active,
.counter-minus:focus,
.counter-plus:active,
.counter-plus:focus {
  outline: none;
}

.counter-minus::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 10px;
  height: 3px;
  background-color: #a9a9a9;
}

.counter-plus::before,
.counter-plus::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  width: 10px;
  height: 3px;
  background-color: #a9a9a9;
}

.counter-minus:hover::before,
.counter-plus:hover::before,
.counter-plus:hover::after {
  background-color: #000;
}

.counter-minus:active::before,
.counter-plus:active::before,
.counter-plus:active::after {
  background-color: #81b3d2;
  outline: none;
}

.counter-plus::after {
  transform: rotate(90deg);
}

.form-btn {
  display: block;
  width: 100%;
  margin-top: 55px;
  padding: 16px 0;
  background-color: #81b3d2;
  font-size: 21px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.form-btn:hover {
  background-color: #669ec0;
}

.form-btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

/* ========================
   MAP
   ======================== */

.map-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 473px;
}

.map {
  position: absolute;
  background: #fff url("../img/map.jpg");
  background-size: 100%;
  height: 593px;
  width: 100%;
}

/* ========================
   FOOTER
   ======================== */


.footer-main {
  position: relative;
  display: flex;
  padding: 35px 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-catalog {
  position: relative;
  top: 0px;
  background-color: #fff;
}

.footer-info {
  box-sizing: border-box;
  flex-basis: 400px;
  text-align: center;
  margin: auto;
}

.footer-info h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-share {
  flex-basis: 400px;
  text-align: center;
  margin: auto;
}

.share {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
}

.share:hover {
  background-color: #669ec0;
}

.share:active {
  background-color: #5496bd;
}

.twitter::after {
  content: "";
  position: absolute;
  background: url(../img/share.png) 0 0  no-repeat;
  top: 0px;
  left: 0;
  width: 46px;
  height: 48px;
  cursor: pointer;
}

.fb::after {
  content: "";
  position: absolute;
  background: url(../img/share.png) -43px 0  no-repeat;
  top: 0px;
  left: 0px;
  width: 46px;
  height: 48px;
  cursor: pointer;
}

.youtube::after {
  content: "";
  position: absolute;
  background: url(../img/share.png) -91px 0  no-repeat;
  top: 0px;
  left: 0px;
  width: 46px;
  height: 48px;
  cursor: pointer;
}

.twitter:active::after,
.fb:active::after,
.youtube:active::after {
  opacity: 0.3;
}

.footer-devby {
  flex-basis: 400px;
  margin: auto;
}

.footer-devby p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 15px 7px 15px 102px; 
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.footer-devby a {
  display: inline-block;
  vertical-align: top;
  background: url("../img/devby.png") no-repeat;
  background-position: 0px 5px;
  width: 124px;
  height: 50px;
}

.footer-devby a:hover {
  background-position: 0px -43px;
}

.footer-devby a:active {
  background-position: 0px -90px;
}
/* ========================
   CATALOG PAGE
   ======================== */

.search-catalog {
  display: flex;
  background: url("../img/bg.jpg") no-repeat #537fa4;
  color: #fff;
  min-height: 188px;
  padding-top: 30px;
}

.search-catalog-block {
  flex-basis: 255px;
} 

.search-catalog-title {
  display: block;
  margin-bottom: 27px;
}

.search-catalog-block input[type="checkbox"] {
  display: none;
}

.search-catalog-block label {
  display: block;
  position: relative;
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
}

.search-catalog-block  label:nth-child(4) {
  margin-bottom: 0px;
}

.search-catalog-block  input[type="checkbox"] + .checkbox-indicator {
  content: "";
  position: absolute;
  left: -40px;
  top: -3px;
  width: 28px;
  height: 28px;
  background: url("../img/checkbox_off.png") no-repeat;
  cursor: pointer;
}

.search-catalog-block input[type="checkbox"]:checked + .checkbox-indicator {
  left: -41px;
  top: -5px;
  background: url("../img/checkbox_on.png") no-repeat;
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background: url("../img/checkbox_off.png") no-repeat;
  cursor: pointer;
}

.search-catalog-block  input[type="checkbox"] + .checkbox-indicator:hover {
  background-position: 0px -31px;
}

.search-catalog-block  input[type="checkbox"]:disabled + .checkbox-indicator {
  background-position: 0px -61px;
}

.search-catalog-block  input[type="checkbox"]:checked + .checkbox-indicator {
  background-position: 0px -30px;
}

.search-catalog-block  input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-position: 0px -60px;
}


.search legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 25px;
}

.search-type input[type="checkbox"] {
  display: none;
}

.search-catalog-block label:last-child p{
  margin-bottom:0;
}

.filter-range {
  margin-left: auto;
  flex-basis: 320px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  padding: 4px 0;
  width: 50%;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  box-sizing: border-box;
  padding-left: 50px;
}

.price-controls input {
  width: 40px;
  margin: 0;
  color: inherit;
  font: inherit;
  text-align: center;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border:  8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left:0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color:#000;
  background: #fff;
}
/********************
 Results small block with a menu to choose price, type, and rating
********************/

.results {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  min-height: 86px;
  padding: 30px 0 29px 0;
  border-bottom: 1px solid #e5e5e5;
}

.results-founded,
.results-sort {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
}

.results-foundnumber {
  padding:0;
  margin-right: 45px;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.results-menu-sort {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-size:0;
}

.results li {
  display: inline-block;
  vertical-align: top;
}

.results-menu-sort a {
  font-size: 12px;
  line-height: 18px;
  margin-right: 32px;
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.results-menu-sort a.selected {
  border-bottom: none;
  color: #81b3d2;
}

.results-menu-sort a:hover {
  color: #81b3d2;
}

.results-menu-sort a:active {
  color: #000;
  border-bottom: none;
}

.order {
  position: absolute;
  width: 35px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 72px;
}

.order-up,
.order-down
 {
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.order-down {
  right: 22px;
}

.order-up::before,
.order-down::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid #ccc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
}

.order-down::before {
  border-top: none;
  border-bottom: 10px solid #ccc;
}

.order-up:hover::before {
  border-top: 10px solid #000;
  cursor: pointer;
}

.order-down:hover::before {
  border-bottom: 10px solid #000;
  cursor: pointer;
}

.order-up:active::before {
  border-top: 10px solid #81b3d2;
  cursor: pointer;
}

.order-down:active::before {
  border-bottom: 10px solid #81b3d2;
  cursor: pointer;
}

.order-up:checked::before {
  border-top: 10px solid #81b3d2;
}

.selected::before {
  border-top: 10px solid #81b3d2;
  cursor: pointer;
}

.hotels {
  display: flex;
  flex-direction: column;
}

.hotels-results {
  display: flex;
  background: #fff;
  padding: 30px 0; 
  border-bottom: 1px solid #e5e5e5;
}

.hotels-photo {
  height: 90px;
}

.hotels-info {
  margin-left: 30px;
}

.hotels-info h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.hotels-info h2:hover {
  color: #81b3d2;
  cursor: pointer;
} 

.hotels-info h2:active {
  color: #cacaca;
} 

.hotels-choose-tab {
  display: inline-block;
  vertical-align: top;
}

.hotels-choose-tab > a.more {
  color: white;
  background-color: #81b3d2;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  margin-right: 3px;
  text-decoration: none;
}

.hotels-choose-tab > a.more:hover {
  background-color: #669ec0;
}

.hotels-choose-tab > a.more:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.hotels-choose-tab > a.book {
  color: white;
  background-color: #766357;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.hotels-choose-tab > a.book:hover {
  background-color: #604e43;
}

.hotels-choose-tab > a.book:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.hotels-choose-tab p {
  margin: 6px 0 15px 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.hotels-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto; 
}

.hotels-stars img {
  align-self: flex-end;
}

.hotels-rank {
  display: inline-block;
  vertical-align: top;
  width: 111px;
  padding: 5px 0;
  background-color: #f2f2f2; 
  color: #666;
  text-align: center;
  font-size: 14px;
}

/* Supporting class */

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 rgba(0,0,0, 0.3);
}

.positioner {
  padding-left: 72px;
  padding-right: 72px;
}