body {
  font-family: 'PT Sans';
  font-size: 16px;
  color: #333;
  background-color: #FFF;
  line-height: 1.7;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2em;
  font-weight: 520;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  font-weight: 520;
  text-transform: uppercase;
}