/* ========================
   Main defenitions 
   ======================== */

body {
  font-family: "PT Sans", Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  font-style: normal;
  text-transform: uppercase;
  
}

h2 {
  margin: 0;  
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

footer {
  position: relative;
  width: inherit;
}
/* ========================
   Menu and logo 
   ======================== */

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.menu-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  padding: 0 0;
  white-space: nowrap;
  font-size: 0;
}

.menu-main li {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}

.menu-main li a {
  display: block;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.menu-main li:nth-child(1) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  width: 25%;
  padding-left: 72px;
}

.menu-main li:nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  width: 25%;
}

.menu-main li:nth-child(3) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  width: 25%;
}

.menu-main li:nth-child(4) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  width: 25%;
  padding-right: 72px;
}

.menu-main a:hover {
  color: #81b3d2;
}


.menu-main a.active {
  color: #766357;
}

.menu-main a.active:hover {
  color: #766357;
  cursor: default;
}

/* ========================
   Main welcoming image
   ======================== */

.welcome-image {
  background: #dae8f1 url("../img/bg_index.jpg") no-repeat;
  position: relative;
  min-height: 508px;
}

.welcome-image img {
  position: absolute;
  top: 76px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome-image-extra {
  background: url("../img/decor.png") no-repeat;
  position: absolute;
  top: 451px;
  width: 100%;
  min-height: 57px;
}


/* Small description under the main image */

.welcome-slogan {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 62px;
  padding-bottom: 55px;
  background-color: #fff;
  text-align: center;
}

.welcome-slogan h2 {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

.welcome-slogan p {
  margin-top: 28px;
}

/* ========================
   Reason 1 + 2  - Настоящий городок + картинка/ Там есть мост дьявола
   ======================== */

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: 255px;
}

.reason-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 47px;
  padding-bottom: 60px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  min-height: 255px;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}

.reason-info p {
  margin-top: 21px;
  padding: 0 49px;
  white-space: pre-line;
  line-height: 21px;
}

.reason-info p.reason-info-title {
  margin-top: 0;
  padding: 0 30%;
  white-space: pre-line;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.reason-info-image {
  position: relative;
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  top: -80px;
  z-index: -1;
}

/* ========================
   Extra reasons on top of Reason1 
   ======================== */

.extra-reason1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
}

.extra-reason1-info {
  position: relative;
  padding-top: 162px;
  padding-bottom: 82px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  background-color: #fff;
  text-align: center;
}

.extra-reason1-info img {
  position: absolute;
  top: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.extra-reason1-info p {
  padding: 0 55px;
  margin-bottom: 22px;
  line-height: 21px;
}

.extra-reason1-info p.extra-reason1-title {
  text-align: center;
  line-height: 21px;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ========================
   Extra reasons after Reason 2
   ======================== */

.extra-reason2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 255px;
}

.extra-reason2-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;  
  background-color: #eee;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 60px;
  text-align: center;
}

.extra-reason2 p {
  margin-top: 22px;
  padding: 0 65px;
  white-space: pre-line;
  line-height: 21px;
}

p.extra-reason2-title {
  margin-top: 0;
  padding: 0 35%;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ========================
   INTERESTED section
   ======================== */


.interested {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-height: 290px;
  color: #000;
  background-color: #fff; 
  text-align: center;
  padding-top: 58px;
  padding-bottom: 133px;
}

.question {
  font-size: 30px;
  padding-bottom: 30px; 
  font-weight: 600;
}

.interested p {
  line-height: 24px;
}

.title-form a {
  position: absolute;
  padding: 31px 140px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #766357;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
}
/* ========================
   FORM
   ======================== */

.search-form-show {
  display: block;
}

form.search-form {

  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 55px;
  z-index: 1;
  background-color: #fff;
  /* set only if use blocks without flexes 
  font-size: 0px;
  */
  -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0, 0.15);
          box-shadow: 0 0 5px 5px rgba(0,0,0, 0.15);
}

.search-form .checkin,
.search-form .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 38px;
  margin-bottom: 30px;
}

/* test input without flexes 

.search-form label {
  
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-right: 20px;
  padding-top: 10px;
}
 
.search-form input {
  background: url("../img/cal_icon.png") 97% 45% no-repeat;
  font-size: 0px;
  min-height: 38px;
  width: 344px;
  background-color: #f2f2f2;
  font: inherit;
  color: inherit;
  text-align: center;
  border: none;
}
/* endtest */

.checkin input[type="text"],
.checkout input[type="text"] {
  /*width: 100%;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 345px;
  margin-left: auto;
  padding-left: 10px;
  background-color: #f2f2f2;
  font: inherit;
  color: inherit;
  border: none;
}

.checkin input[type="date"]:hover,
.checkout input[type="date"]:hover {
  background-color: #ebebeb;
} 

.checkin input[type="date"]:focus,
.checkout input[type="date"]:focus {
  background-color: #fff;
} 

.checkin label,
.checkout label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 92px;
      flex-basis: 92px;
  margin-right: 20px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
 
.search-form .checkin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
}

button.calendar {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  background: url("../img/calendar.png") 0 0 no-repeat;
  border: none;
}

button.calendar:hover {
  background: url("../img/calendar.png") 0px -40px no-repeat;
}

button.calendar:active {
  background: url("../img/calendar.png") 0px -77px no-repeat;
}

span.parents {
  display: inline-block;
  width: 115px;
  background-color: #f2f2f2;
}

.children {
  display: inline-block;
}

.form-btn {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: #81b3d2;
  font-size: 21px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.form-btn:hover {
  background-color: #669ec0;
}

.form-btn:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
/* ========================
   MAP
   ======================== */

.map {
  position: relative;
  background: #fff url("../img/map.jpg");
  bottom: 0px;
  min-height: 593px;
  width: 100%;
  height: 78px;
}

/* ========================
   FOOTER
   ======================== */
.footer-main {
  position: absolute;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -120px;
  min-height: 124px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-catalog {
  position: relative;
  top: 0px;
  background-color: #fff;
}

.footer-info {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
  margin: auto;
}

.footer-share {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
  margin: auto;
}

.footer-share a:hover{
  background-color: #669ec0;
}

.footer-share a:active{
  background-image: url(../img/share.png) no-repeat;
  opacity: 0.3;
  background-color: 
}

.share {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background: #81b3d2 url(../img/share.png) no-repeat;
}

.twitter  {
  background-position:0 0;
}

.fb {
  background-position: -43px 0;
}

.youtube {
  background-position: -91px 0;
}

.footer-devby {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
  margin: auto;
}

/* ========================
   CATALOG PAGE
   ======================== */

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/bg.jpg") no-repeat #537fa4;
  color: #fff;
  height: 188px;
  padding-top: 30px;
}

.search-infrastr {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
}

.search-infrastr p {
  margin-bottom: 23px;
  margin-left: 40px;
  line-height: 21px;
  cursor: pointer;
}

.search-infrastr input[type="checkbox"] {
  display: none;
}

.search-infrastr label {
  display: block;
  position: relative;
}

.checkbox-indicator {
  position: absolute;
  top:0px;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background: url("../img/checkbox_off.png") no-repeat;
  cursor: pointer;
}

.pool {
  background-position:00;
}

.checkbox-indicator::after + input[type="checkbox"]:checked {
  background: url("../img/checkbox_on.png");
  ne: 1px solid reoutlid;
}

.search-type {
  padding-left: 15px;
  -ms-flex-preferred-size: 288px;
      flex-basis: 288px;
}

.search legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 25px;
}

.search-type input[type="checkbox"] {
  display: none;
}

.search-infrastr label:last-child p{
  margin-bottom:0;
}

.filter-range {
  margin-left: auto; 
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position:  relative;
  height: 36px;
  margin-bottom: 20px;
  font-size:0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border:  8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left:0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color:#000;
  background: #fff;
}
/********************
 Results small block with a menu to choose price, type, and rating
********************/

.results {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  min-height: 86px;
  padding: 30px 0 29px 0;
  border-bottom: 1px solid #e5e5e5;
}

.results-founded,
.results-sort {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
}

.results-foundnumber {
  padding:0;
  margin-right: 45px;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.results-menu-sort {
  display: inline-block;
  list-style: none;
  font-size:0;
}

.results li {
  display: inline-block;
}

.results-menu-sort a {
  font-size: 12px;
  line-height: 18px;
  margin-right: 32px;
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.results-menu-sort > .active > a{
  border-bottom: none;
  color: #81b3d2;
}

.results-menu-sort a:hover {
  color: #81b3d2;
}

.results-menu-sort a:active {
  color: #000;
  border-bottom: none;
}

.order {
  float: right;
}

.order a {
  margin:0;
  padding:0;
}

a.order-up {
  margin-right: 10px;
}

.hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotels-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 30px 0; 
  border-bottom: 1px solid #e5e5e5;
}

.hotels-photo {
  height: 90px;
}

.hotels-info {
  margin-left: 30px;
}

.hotels-choose-tab {
  display: inline-block;
}

.hotels-choose-tab > a.more {
  color: white;
  background-color: #81b3d2;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  margin-right: 3px;
  text-decoration: none;
}

.hotels-choose-tab > a.more:hover {
  background-color: #669ec0;
}

.hotels-choose-tab > a.more:active {
  background-color: #5496bd;
}

.hotels-choose-tab > a.book {
  color: white;
  background-color: #766357;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.hotels-choose-tab > a.book:hover {
  background-color: #604e43;
}

.hotels-choose-tab > a.more:active {
  background-color: #503e33;
}

.hotels-choose-tab p {
  margin-top: 6px;
  margin-bottom: 15px;
}

.hotels-info h2 {
  margin-top: -4px;
}
.hotels-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto; 
}

.hotels-stars img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hotels-rank {
  display: inline-block;
  width: 111px;
  padding: 5px 0;
  background-color: #f2f2f2; 
  color: #666;
  text-align: center;
  font-size: 14px;
}

/* Supporting classes */

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0,0,0, 0.3);
}

.positioner {
  padding-left: 72px;
  padding-right: 72px;
}